@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    z-index: 0;
}

body{
    overflow-x: hidden;
}




.header {
    background-color: rgb(29, 65, 29);
    width: 100%;
    min-height: 80px;
    z-index: 5;
    /* background-image:linear-gradient(to right,rgb(80, 136, 105),rgb(80, 116, 105),rgb(145, 134, 134)); */
    color: aliceblue;
    position: fixed;
}

.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.head-content #h-logo img {
    width: 120px;
    height: 120px;
    margin-left: 90px;
    padding-bottom: 15px;
  

}

.header #span1 {
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    /* margin-left: -20px; */
    margin-top: 35px;
    position: fixed;

}

.head-content p {
    margin-top: 20px;
    margin-left: 100px;
    font-weight: bold;
    font-size: 25px;
    color: rgb(80, 44, 44);
}

.head-content nav {
    margin-top: -20px;

}

.header nav .col {
    margin-left: 300px;
}

.header nav .col .hov {
    position: relative;
    margin: 20px;
    margin-left: 20px;
    /* padding: 4px 4px; */
}

.header nav .col .hov::after,
.header nav .col a::before {
    content: "";
    position: absolute;
    border-style: solid;
    left: 0;
    top: 0;
    transition: transform 0.2s;
}

.header nav .col .hov::after {
    border-width: 2px 0;
    height: 80%;
    width: 100%;
    transform: scale3d(0, 1, 1);
    transform-origin: left;
}

.header nav .col .hov::before {
    border-width: 0 2px;
    height: 80%;
    width: 100%;
    transform: scale3d(1, 0, 1);

}

.header nav .col .hov:hover::before {
    transform: scale3d(1, 1, 1);
}

.header nav .col .hov:hover::after {
    transform: scale3d(1, 1, 1);
    transition-delay: 0.2s;

}

.header nav #links {
    /* margin-left: px; */
    /* background-color: rgb(170, 165, 165); */
    margin-right: 20px;
    /* border-radius: 15px; */

}

.header nav ul {
    display: flex;
    list-style: none;
}

.header nav #links li a {
    font-family: sans-serif;
    margin: 25px;
    color: rgb(245, 240, 250);
    display: block;


}

.head-content nav #userinfo {
    display: none;
}

.head-content nav #userinfo #user {
    text-decoration: none;
    margin-left: 10px;
    color: rgb(28, 28, 238);
}

.head-content nav #userinfo #logout {
    margin-left: 10px;
    margin-right: 20px;
}

.head-content nav #userinfo #user,
.head-content nav #userinfo #logout {
    color: rgb(148, 148, 223);
}

.head-content nav #userinfo i {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
    color: rgb(91, 173, 91);
}

.head-content nav #userinfo li {
    margin: 5px;
}
.header .badge{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: brown;
    color: #ddd;
    border-radius: 50%;
    display: block;
    text-align: center;
    top: -10px;
    right: -10px;
    /* font-size: 15px; */
    display: none;
}

/* ///////////////////////////////////sec1//////////////////////////////// */
.sec1 {
    width: 100%;
    height: 100vh;
    background-image: url(../images/back3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(156, 153, 153, 0.5);

}

.sec1 .contanier {
    position: absolute;
    background-color: rgb(88, 88, 88);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    min-height: 200px;
    text-align: center;
    border-radius: 5%;
    padding: 15px;
}

.sec1 .contanier h2 {
    font-weight: bold;
    font-size: 25px;
    color: aliceblue;
}

.sec1 .contanier input {
    display: block;
    width: 100%;
    margin: 5px 0px;
    height: 30px;
    padding: 5px;
    outline: none;

}

.sec1 .contanier a {
    color: rgb(45, 45, 143);
}

.sec1 .contanier input[type=submit] {
    background-color: rgb(29, 65, 29);
    border: none;
    color: aliceblue;
}

/* //////////////////////////////////////////////sec2/////////////////////////////// */
.section1 {
    position: relative;
    background-color: rgb(52, 80, 52);
    height: 100vh;

}

.section1 .img-f {
    position: absolute;
    margin-left: 450px;
    margin-top: 80px;
    z-index: 4;
}

.f-images {
    position: relative;
}

.section1 .dot-img {
    position: absolute;
    z-index: 1;
    margin-top: 150px;
    margin-left: 990px;
}

.section1 .f-content {
    position: absolute;
    z-index: 4;
    margin-top: 250px;
    margin-left: 100px;
    color: aliceblue;
    font-size: 30px;
}

.section1 .buttons {
    position: absolute;
    z-index: 4;
    margin-top: 500px;
    margin-left: 100px;

}

.section1 #f-btn {
    width: 120px;
    height: 50px;
    background-color: rgb(240, 216, 0);
    color: black;
    border-radius: 100px;
    border: none;
    margin-right: 30px;
}

.section1 #f-btn:hover {
    background-color: rgba(80, 58, 58, 0);
    border: 1px solid white;
    color: white;
}

.section1 #f1-btn:hover {
    background-color: rgb(240, 216, 0);
    border: none;
    color: black;
}

.section1 #f1-btn {
    width: 120px;
    height: 50px;
    color: white;
    background-color: rgba(55, 62, 68, 0);
    border-radius: 100px;
    border: 1px solid white;


}

/* ///////////////////////////////////////////////sec2/////////////////////////// */
.sec2 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sec2 .container {
    display: flex;
    padding: 20px;
    border-radius: 15px;
    height: auto;
    justify-content: right;
}

.sec2 .text-section {

    padding-right: 40px;
    padding-left: 20px;
    padding-top: 30px;

}

.sec2 .text-section h1 {
    font-size: 1.9em;
    margin-bottom: 20px;
    width: 200px;
    line-height: 1.2;

}

.sec2 .text-section p {
    margin-bottom: 30px;
    color: #666;
    padding-right: 0px;
}

.sec2 .explore-button {
    background-color: #272925;
    color: #fff;
    padding: 7px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    margin-bottom: 10px;
}

.sec2 .explore-button:hover {
    background-color: #555;
}

.sec2 .product-section {
    display: flex;
    gap: 30px;
}

.sec2 .product-card {
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    padding: 60px;
    text-align: center;
    position: relative;
    transition: transform 0.3s;
    font-weight: bold;

}

.sec2 .product-card img {
    max-width: 170px;
    max-height: 210px;
    margin-bottom: 40px;
    display: block;
    position: relative;
    transition: transform 0.3s ease;
}

.sec2 .product-card h5 {
    font-size: 12px;
    margin: 10px;
    text-transform: uppercase;
    color: #333;
}

.sec2 .product-card p {
    color: #333;
    font-weight: bold;
}

.sec2 .product-card:hover {
    transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(3, 51, 3, 0.2);
}

.sec2 .product-card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(162, 179, 174, 0.295);
    z-index: -1;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    border: none;
    border-radius: 15px;
}

.sec2 .product-card:hover .overlay {
    opacity: 1;
    transform: translateY(0);
}

.sec2 .hover-effect {
    position: absolute;
    bottom: 15px;
    right: 45%;
    background-color: #272925;
    color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.sec2 .product-card:hover .hover-effect {
    opacity: 1;
}

.sec2 .product-card:hover img {
    transform: scale(1.1);
    transition: transform 0.4s;
}

.sec2 .button {
    background-color: #272925;
    color: #fff;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: larger;
}

.sec2 .button:hover {
    background-color: #555;
}

.sec2 .dark-mode {
    background-color: black;
    color: rgb(255, 255, 255);
}

.sec2 #alertPlaceholder {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

/* //////////////////////////////////////////////sec3/////////////////////////////// */
.section3 .grid_items3 {
    border-radius: 20px;
    padding-left: 5px;
    transition: box-shadow 1s;
}

.section3 .grid_items3:hover {
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
}

.shows {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    animation: scroll-in 3s forwards;

}

@keyframes scroll-in {
    0% {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);

    }

    100% {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

}

/* .show{
    opacity:1;
    filter: blur(0);
    transform: translateX(0) ;
} */
.section3 .grid_text {
    font-size: 18px;
    color: gray;
    padding-right: 0px;

}

.section3 .grid_text::first-line {
    font-size: 20px;
    font-weight: 500;
    color: black;
    line-height: 35px;
    text-transform: capitalize;
}

.section3 #head {
    grid-area: head;
    font-size: 18px;
    color: gray;
    padding: 90px 50px 0px 5px;

}

.section3 #head::first-line {
    font-size: 50px;
    font-weight: 500;
    color: black;
    line-height: 100px;
}

.section3 #transport {
    grid-area: transp;
    animation-delay: 800ms;

}

.section3 #shop {
    grid-area: shop;
    animation-delay: 400ms;
}

.section3 #support {
    grid-area: supp;
    animation-delay: 1s;
}

.section3 #hassle {
    grid-area: hass;
    animation-delay: 400ms;
}

.section3 .img_container3 {
    grid-area: image;
    position: relative;
    width: 40vw;
    min-height: 80vh;

}

.section3 .why_chu_img {
    height: 87%;
    width:82%;
    z-index: 0;
    position: absolute;
    top: 100px;
    left: 60px;


}

.section3 img.dots1 {
    z-index: -1;
    position: absolute;
    top: 54px;


}

.section3 .grid_container_sec3 {
    display: grid;
    grid-template-areas:
        "head head image image"
        "transp shop image image"
        "supp hass image image";
    margin: 30px 100px 30px 100px;
    gap: 40px;
}

.section3 i {
    display: block;
    color: black;
    font-size: x-large;
    padding: 10px 10px 0px 5px;
    position: relative;
    z-index: 1;

}

.section3 .grey_circle {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -1;
    border-radius: 50%;
    height: 25px;




}

/* ////////////////////////////////////section4//////////////////////////////////////// */

.sec4{
    margin: 100px 150px 200px 80px;
}
.sec4 .img_container4{
    position: relative;
    width: 1500px;
    }
    
.sec4 .images4{
    border-radius: 7px;

}

.sec4 #dot4{
    z-index: -1;
    width: 200px;
    height: 150px;
    }
.sec4 #img1{
    width: 400px;
    height: 450px; 
} 
.sec4 #img2{
    width: 170px;
    height: 150px;
    margin-left: 510px;
    margin-top: -100px;
} 

.sec4 #img3{
   
     z-index: 1;
    width: 230px;
    height: 300px; 
    margin:80px 440px;

}

.sec4 #a{
    position: absolute;
    top: 50px;
   left: 70px;
    
}
.sec4 #b{
    position: absolute;
}
.sec4 #c{
    position: absolute;
    
}


.sec4 .text-container4{
    height: 90vh;
    width: 400px;
    margin-left: 840px;
    margin-top: -70px;
    
}

.sec4 .title4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec4 .txt4{
    font-size: 12px;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec4 .donec4{
    margin-top: 40px;
    
}
.sec4 .sub-div{
    float: left;
    margin: 10px;
}
.sec4 #first{
    margin-left: 0px;
}
.sec4 #third{
    margin-left: 0px;
}

.sec4 .btn4{
    width: 100px;
    height: 30px;
    background-color: rgb(65, 59, 59);
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 40px;
}

/* ///////////////////////////////////////////////SEC5////////////////////////////// */
.section5 {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* display: grid;
    display: inline-grid; */
    margin-inline: 10%;
    
}
.div{
    display: flex;
    gap:10px;
}

.section5 .img1 {
    /* margin-left: 80px;
    margin-top: 75px;
    margin-bottom: -165px; */
    background-image: url(../images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    background-position: 0px 14px;
}

.section5 .p1 {
    color: rgb(177, 165, 165);
    /* margin-top: 50px;
    margin-left: 200px; */
}

.section5 #t1 {
    color: black;
}

.section5 .img2 {
    /* margin-left: 470px;
    margin-top: -142px;
    margin-bottom: -170px; */
    background-image: url(../images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    background-position: 4px 25px;
}

.section5 .p2 {
    color: rgb(177, 165, 165);
    /* margin-top: 68px;
    margin-left: 600px; */
}

.section5 #t4 {
    color: black;
}

.section5 .img3 {
    /* margin-left: 30px;
    margin-top: -137px; */
    background-image: url(../images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    background-position: -10px 8px;
}
.sec4 #c{
    width: 500px;
}

.section5 .A {
    color: rgb(177, 165, 165);
    /* margin-top: -110px;
    margin-left: 1000px; */
}

.section5 #i1 {
    color: black;
}

.section5 .r {
    color: rgb(98, 97, 97);
    /* margin-top: 100px;
    margin-bottom: -200px; */
}

/* //////////////////////////////////////////////section6/////////////////////////////// */
.section6 {
    margin: 90px 100px 30px 100px;

}

.section6 .c-item {
    min-height: 50vh;
    position: relative;
}

.section6 .profile_pic {
    max-width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;

}

.person_info {

    align-self: center;
    position: absolute;
    margin-inline: 15%;



}

.bio {
    text-align: center;
    color: gray;
    font-size: smaller;
}

.bio::first-line {
    font-weight: bolder;
    text-transform: capitalize;
}

.testom {
    text-align: center;
}

.carousel-indicators button {
    border-radius: 50%;
}

.carousel-control-prev-icon-cont,
.carousel-control-next-icon-cont {
    opacity: 0;
    height: 50px;
    width: 50px;
    position: relative;
    left: 41px;
    top: 0px;
    transition: 0.5s all ease-in-out;
}

.carousel-control-prev:hover .carousel-control-prev-icon-cont,
.carousel-control-next:hover .carousel-control-next-icon-cont {

    background-color: rgb(12, 77, 38);
    border-radius: 50%;
    opacity: 1;


}
/* ////////////////////////////////////sec7////////////////////////////////////// */
.section7
{
    width: 100%;
   
    min-height: 650px;
}

.section7 .s7
{
    text-align: left;
    margin-left: 75px;
    font-size: 23px;
}

.section7 .link7
{   display: block;
    text-align: end; 
     padding-right: 10px; 
    font-size: 23px;
    color: black;
}

.section7 .blogImage
{
    width: 250px;
    height: 380px;
    border-radius: 7px;
    float: left;
    transition: all 0.3s ease-in-out;
    
}

.section7 .image
{
    width: 250px;
    height: 280px;
    border-radius: 7px;
}

.container7{
    /* padding: 0px 120px; */
    display: flex;
flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.section7 .div2 ,.section7 .div1,.section7 .div3
{    
    margin: 50px;
}

.section7 .blogImage:hover
{
    background-color: rgb(230, 227, 227);
}

.section7 .pr5
{   
    width: 250px;
    height: 70px;
}

/* 
.pr1
{
    margin-left: 75px;
}

.pr2
{
    margin-left: 168px;
}

.pr3
{
    margin-left: 168px;
}

.blog
{
    width: 300px;
    height: 70px;
    float: left;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
} */
/* //////////////////////////////////////sec8////////////////////////////////////// */
.sec8 {
    background-color: white;
    overflow: visible;
    padding-top: 5%;
    height: 50vh;

}

.allsec8 {
    margin-inline: 15%;
    position: relative;
}

.sec8 .outer {

    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  

}


.sec8 .topper {
    text-transform: capitalize;
    position: absolute;
    top:-35px;
    z-index: 4;


}

.sec8 .inner {
    position: relative;
    z-index: 1;
}

.sec8 input {
    text-transform: capitalize;
    min-height: 30px;
    width: 200px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid rgb(122, 157, 123);
    padding-inline: 5px;
   
    
}

/* .sec8 button img{
    object-fit: cover;
} */
.sec8 button {
    display: inline;
    width: 34px;
    height: 32px;
    border: none;
    background: url("/images/submit.png");
    background-size: cover;
    position: absolute;
    top: 4%;
    left: 96%;

}

.sec8 button:hover {

    width: 37px;
    height: 35px;
}

.sec8 h2 {
    text-transform: capitalize;
}

.sec8 .d1 {
    color: rgb(6, 88, 31);
    text-transform: capitalize;
    line-height: 1.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;

}

.sec8 .d3 {

    position: relative;

}

.sec8 .d3 img {
    position: absolute;
    right: 50%;
    top: -70%;
    z-index: -4;
  
}

.sec8 .d1 .table {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 5%;
    width: 50%;
    margin-left: 29px;
}

.sec8 .column a {
    padding-bottom: 5px;
    margin: 0px;

}

.sec8 a:link {
    color: #326744;

}

.sec8 a:visited {
    color: rgb(3, 130, 81);
}

.sec8 a:hover {
    text-decoration: none;
}

.sec8 .d2 {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.sec8 .d2 i {
    font-size: xx-large;
    opacity: 0.85;

}

.sec8 .d2 i:hover {
    opacity: 1;
}

.dark{
    background-color: #555755;
}


@media(max-width:1000px) {
    .header #span1 {
        margin-left: 5px;
    }


}

@media(min-width:100px) and (max-width:700px) {

    /* .head-content #h-logo img{
         margin-left: -140px;
     } */
     .section1 .f-images {

        margin-left: -300Px;
    }

    .section1 .img-f {

        width: 200px;
        height: 200px;

    }

    .section1 .f-images .dot-img {
        width: 100px;
        height: 100px;

        margin-top: 100px;
        margin-left: 550px;
    }

    .section1 .f-content {
        margin-top: 300px;
    }

    .header nav {
        margin-left: -120px;
    }

    .head-content nav #userinfo {
        display: flex;
        flex-direction: column;
    }

    .header nav .col {
        background-color: rgb(29, 65, 29);
        margin-top: -40px;
    }
    .header #h-logo{
       margin-left: 70px;

    }
    .header #h-logo #span1{
        margin-left: 1px;
    }
    .header nav .col .hov::after {

        height: 80%;
        width: 15%;
        padding: 5px;

    }

    .header nav .col .hov::before {
        padding: 5px;
        height: 80%;
        width: 15%;
    }
    .sec2 .container .product-section{
        display: flex;
        flex-direction: column;
        padding: 5px;
        height: 100vh;
    }
    .sec2 .container .product-section .product-card{
      max-width: 50px;
      max-height: 100px;

    }
.sec2 .container .product-section .product-card img{
    width: 40px;
    height: 40px;
}
.sec2 .product-card h5 {
    font-size: 10px;
    text-align: center;
    margin-top: -100px;
    margin-left: -35px;
    
}

.sec2 .product-card p {
    margin-left: -35px;
    color: #333;
    font-weight: bold;
}

.section3 .grid_container_sec3{
    grid-template-areas:
        "head head "
        "image image" 
        "transp shop"
        "supp hass";
        gap:10px;
        margin-inline:50px;
       justify-content: center;
}
.section3 .img_container3{
    width:60vw;
    min-height: 60vh;
   
}
.section3 #head {
    padding-right: 0px;
}
.section3 .why_chu_img{
    top: 0px;
    left:70px;
}
.section3 .dot-img{
    top: 100%;
    
}


/* 
.sec4 .img_container4{
    margin: auto;
    width: 80%;
    margin-left: 30%;
    margin-top: 300px;

}

.sec4 .img4-div{
    position: static;
    float: left;
    margin: auto;

}

.sec4 #img1{
    width: 300px;
    height: 400px;
    margin-left: 50px;

}
.sec4 #dot4{

    margin-left: 460px;
    width: 250px;
}
.sec4 #img2{
    margin-top: 0px;
    margin-left: 460px;
    z-index: 0;
    width: 250px;
    height: 350px;

}

.sec4 #img3{
    width: 300px;
    height: 400px;
    z-index: 0;
    margin-top: -100px;
    margin-left: 740px;
}
.sec4 .text-container4{

    margin: auto;
    margin-top: 300px;
    text-align: center;
    width: 80%;
}
.sec4 .title4{
    position: absolute;
    margin-top: -670px;
    margin-left: 30%;
    width: 1000px;
    font-size: 34px;

}
.sec4 #main4{
    position: absolute;
    margin-top: -620px;
    margin-left:17%;
    width: 1200px;
    text-align: center;

}
.sec4 .sub-div{
    margin-left: 70px;
    width:400px;
}
.sec4 #first{
    margin-left: 10%;
}
.sec4 #third{
    margin-left: 10%;
}
.sec4 .donec4{
    margin-left: 40%;
    text-align: center;
    width: 1200px;
    margin-top: 100px;

 }
.sec4 .txt4{
    font-size: 24px;
}


.sec4 .btn4{
   position: absolute;
    margin-top: 190px;
    margin-left: -610px;
    font-size: 20px;
    width: 125px;
    height: 50px;
} */
.sec4{
    margin-left: 0px;
}


.sec4 .img_container4{
    
    width: 80%;
    margin-top: 300px;
    

}


.sec4 .img4-div{
    width: 100%;
    
}
.sec4 #dot4{

    margin-left: 40%;
    width: 100%;
}


.sec4 #img1{
    width: 80%;
    height: 200px;
    margin-left: 20%;
    margin-top: 490px;

}

.sec4 #img2{
    
    width: 80%;
    height: 200px;
    margin-left: 110px;
    margin-top: 620px;
    }

.sec4 #img3{
   
    width: 80%;
    height:200px;
    margin-left: 110px;
    margin-top: 870px;
    

}
.sec4 .text-container4{

    margin-left: 50px;
    margin-top: 300px;
    width: 50%;
}
.sec4 .title4{
    position: absolute;
    top:295%;
    margin-left: 15%;
    width: 60%;
    font-size: 14px;

}

.sec4 #main4{
    position: absolute;
    top: 310%;
    width: 70%;
    text-align: center;

}
.sec4 .sub-div{
    position: absolute;
   
    width:100%;
}
.sec4 #second{
    top: 40%;
    margin-left: 130%;

}
.sec4 #third{

    margin-top: 200px;
}
.sec4 #fourth{
    margin-left: 130%;
    margin-top: 200px;


}
.sec4 .donec4{
    position: relative;
    margin-top: -320px;

 }
.sec4 .txt4{
    font-size: 12px;
}


.sec4 .btn4{
  
    display: none;
}
.section5 .div{
    justify-content: center;
    align-content: space-between;
    min-height: 30vh;
}
/* .section5 #div1{
    margin-left: -35px;
}
.section5 #div2{
  margin-left: -430px;
  margin-top: 150px;
}
.section5 #div3{
    margin-left: -830px;
    margin-top: 150px;
  } */
  
  .sec8 .d3 img{
    /* width: 75px;
    height: 75px; */
    /* margin-right: -300px; */
    /* margin-left: 500px; */
    position:absolute;
    top:30px;
    
    opacity:0.6;
    z-index: -1;
   
  }

  
  .sec8 h2{
    margin-top: 100px;
  }
  .sec8 .p8{
   font-size: 10px;
  }
  .sec8 .column a{
    font-size: 10px;
  }
  /*//////////////////////*/

  /* .section7{
    height: 300vh; 
     margin-inline: 100px; 
  } */
  .section7 .container7{
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
    margin-left: -35px;
   
  }
  /* .section7 .link7{
     margin-right: -300px;
    text-align: right;

  } */
  
}



/* //////////////////////////////////////////////media query/////////////////////////////// */


/* @media(min-width:100px) and (max-width:700px) {
    .f-images {

        margin-left: -300Px;
    }

    .img-f {

        width: 200px;
        height: 200px;

    }

    .f-images .dot-img {
        width: 100px;
        height: 100px;

        margin-top: 100px;
        margin-left: 550px;
    }

    .section1 .f-content {
        margin-top: 300px;
    }

    .header nav .elements {
        display: none;

    }

    .head-content #h-logo img {
        margin-left: 10px;
    }

    .header #span1 {
        margin-left: -50px;
    }

    .sec4 {
        flex-direction: column;

    }

    .sec4 .img_container4 {
        margin: auto;
        width: 100%;

        margin-top: 300px;

    }

    .sec4 .img4-div {
        position: static;
        float: left;
        margin: auto;

    }

    .sec4 #img1 {

        width: 400px;
        height: 500px;
        left: 0px;
        margin-left: 50px;

    }

    .sec4 #dot4 {

        margin-left: 460px; 
        width: 250px;
    }

    .sec4 #img2 {
        margin-top: 0px;
        margin-left: 460px;
        z-index: 1;
        width: 250px;
        height: 250px;
        left: 270px;
        top: 200px;
        ;
    }

    .sec4 #img3 {
        width: 300px;
        height: 400px;
        z-index: 0;
        margin-top: -100px;
        margin-left: 100px;
        left: 370px;

    }

    .sec4 .text-container4 {

        margin: auto;
        margin-top: 300px;
        text-align: center;
        width: 600px;
    }

    .sec4 .title4 {
        position: absolute;
        margin-top: -670px;
        margin-inline: 6%;
        margin-left: 30%;
        width: 800px;
        font-size: 34px;

    }

    .sec4 #main4 {
        position: absolute;
        margin-top: -610px;
        margin-inline: 5%;
        width: 800px;
        text-align: center;

    }

    .sec4 .sub-div {
        margin-left: 70px;
        width: 400px;
    }

    .sec4 #first{
        margin-left: 10%;
    }
    .sec4 #third{
        margin-left: 10%;
    }
    .sec4 .donec4 {
        margin-left: 40%;
        text-align: center;
        width: 1200px;
        margin-top: 100px;
        margin-inline: 6%;

    }

    .sec4 .txt4 {
        font-size: 24px;
    }


    .sec4 .btn4 {
        position: absolute;
        margin-top: 190px;
         margin-left: -610px; 
        font-size: 20px;
        width: 125px;
        height: 50px;
    }
} */