* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 80px;
    z-index: 5;
    background-image:linear-gradient(to right,rgb(129, 128, 124),rgb(31, 63, 31));

    position: fixed;
}
.head-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.head-content #h-logo img{
    width: 120px;
    height: 120px;
    margin-left: -100px;
    padding-bottom: 15px;

}
.head-content p{
    margin-top: 20px;
    margin-left: 100px;
    font-weight: bold;
    font-size: 25px;
    color: rgb(80, 44, 44);
}
.header nav ul {
    display: flex;
   list-style: none;
}
.header nav #links a{
    margin: 5px;
    color: aliceblue;
    display: block;
}
.head-content nav #userinfo{
    display: flex;
    flex-direction: row;
   
}
.head-content nav #userinfo #user ,.head-content nav #userinfo #logout{
    color: rgb(148, 148, 223);
    margin: 30px;

}
.head-content nav #userinfo i{
    margin-left: 30px;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 30px;
    color: rgb(91, 173, 91);
}

.sec1{
    width: 100%;
    height: 100vh;
    background-image: url(../images/back3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(156, 153, 153,0.5);

}
.sec1 .contanier{
    position: absolute;
    background-color: rgb(88, 88, 88);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
     width: 500px;
     min-height: 200px;
   text-align: center;
   border-radius: 5%;
   padding: 15px;
}
.sec1 .contanier h2{
    font-weight: bold;
    font-size: 25px;
    color: aliceblue;
}
.sec1 .contanier input{
    display: block;
    width: 100%;
    margin: 5px 0px;
    height: 30px;
    padding: 5px;
    outline: none;

}
.sec1 .contanier a{
    color: rgb(45, 45, 143);
}
.sec1 .contanier input[type=submit]{
    background-color: rgb(29, 65, 29);
    border: none;
    color: aliceblue;
}
