$carousel-control-color: rgb(126, 196, 154);
$carousel-control-hover-opacity:0.85;
$carousel-indicator-active-bg: rgb(126, 196, 154);
$carousel-indicator-width:5px;
$carousel-indicator-height:5px;
$carousel-indicator-spacer:1px;
@import "node_modules/bootstrap/scss/bootstrap";